.single_book {
    width: 100%;
    padding: 4rem;
}

.single_book img {
    width: 190px;
    height: 280px;
    border: 3px solid rgb(182, 182, 182);
    object-fit: fill;
    border-radius: 5px;
}

.single_book p {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    font-weight: 200;
    font-size: 16px;
}

.single_book button {
    padding: 12px 40px;
    font-size: 16px;
    background-color: #ecb142;
    color: #06131f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
}

.single_book button:hover {
    background-color: #ffbf49;
}
