.book_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
    align-items: center;
    height: 85vh;
    overflow: scroll;
}

.single_book_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book_img {
    width: 180px;
    height: 280px;
    border: 3px solid rgb(182, 182, 182);
    object-fit: fill;
    border-radius: 5px;
}

.single_book_container p {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.single_book_container h3 {
    margin-top: 1.4rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.book_btn {
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #314adb;
    color: #fafafa;
    transition: all ease 0.4s;
    padding: 10px 20px;
}

.book_btn:hover {
    transform: scale(1.05);
    filter: brightness(110%);
}

@media screen and (max-width: 600px) {
    .book_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 100%;
        padding: 1.2rem;
        height: 90vh;
    }
    .book_img {
        width: 95px;
        height: 140px;
    }
    .single_book_container h3 {
        font-size: 1rem;
    }
}
