.footer {
    width: 100%;
    height: 18vh;
    background: #f3f7fd;
    color: #06121f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-links {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-links a {
    font-weight: 600;
    font-size: 16px;
    color: #06121f;
    transition: ease all 0.2s;
}

.footer-links a:hover {
    transform: scale(1.05);
    color: #2671c1;
}
